@import "tailwindcss";

@theme {
  --color-linnea-50: #e6f0f5;
  --color-linnea-100: #b3d1e0;
  --color-linnea-200: #80b2cb;
  --color-linnea-300: #4d93b6;
  --color-linnea-400: #1a74a1;
  --color-linnea-500: #00558c;
  --color-linnea-600: #004470;
  --color-linnea-700: #003354;
  --color-linnea-800: #002238;
  --color-linnea-900: #00111c;
  
  --color-linnea-red-50: #ffe6e6;
  --color-linnea-red-100: #ffb3b3;
  --color-linnea-red-200: #ff8080;
  --color-linnea-red-300: #ff4d4d;
  --color-linnea-red-400: #ff1a1a;
  --color-linnea-red-500: #e60000;
  --color-linnea-red-600: #b30000;
  --color-linnea-red-700: #800000;
  --color-linnea-red-800: #4d0000;
  --color-linnea-red-900: #1a0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

